@media (min-width: 1680px) {
  .mobile {
    display: none;
  }
  .header_body_m {
    display: none;
  }
  .header_menu_m {
    display: none;
  }
  .sticky_element_m {
    display: none;
  }
  .header_m {
    display: none;
  }
  .header_body_m {
    display: none;
  }
  .footer_m {
    display: none;
  }
  .slider_m {
    display: none;
  }
}
@media (max-width: 1680px) {
  .mobile {
    display: none;
  }
  .header_body_m {
    display: none;
  }
  .header_menu_m {
    display: none;
  }
  .sticky_element_m {
    display: none;
  }
  .header_m {
    display: none;
  }
  .header_body_m {
    display: none;
  }
  .footer_m {
    display: none;
  }
  .slider_m {
    display: none;
  }
}
@media (max-width: 1440px) {
  .mobile {
    display: none;
  }
  .sticky_element_m {
    display: none;
  }
  .header_m {
    display: none;
  }
  .header_body_m {
    display: none;
  }
  .header_menu_m {
    display: none;
  }
  .footer_m {
    display: none;
  }
  .slider_m {
    display: none;
  }
}
@media (max-width: 1366px) {
  .mobile {
    display: none;
  }
  .sticky_element_m {
    display: none;
  }
  .header_m {
    display: none;
  }
  .header_body_m {
    display: none;
  }
  .header_menu_m {
    display: none;
  }
  .footer_m {
    display: none;
  }
  .slider_m {
    display: none;
  }
}
@media (max-width: 1280px) {
  .mobile {
    display: none;
  }
  .sticky_element_m {
    display: none;
  }
  .header_m {
    display: none;
  }
  .header_body_m {
    display: none;
  }
  .header_menu_m {
    display: none;
  }
  .footer_m {
    display: none;
  }
  .slider_m {
    display: none;
  }
}
@media (max-width: 1024px) {
  .mobile {
    display: none;
  }
  .sticky_element_m {
    display: none;
  }
  .header_m {
    display: none;
  }
  .header_body_m {
    display: none;
  }
  .header_menu_m {
    display: none;
  }
  .footer_m {
    display: none;
  }
  .slider_m {
    display: none;
  }
}
@media (max-width: 768px) {
  .header {
    display: none;
  }
  .content {
    display: none;
  }
  .footer {
    display: none;
  }

  .mobile {
    display: block;
    position: relative;
  }
  .header_m {
    display: block;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: 50;
  }
  .header_m:before {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: white;
  }
  .header_body_m {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 10.1vw;
    align-items: flex-end;
    margin-left:6vw;
    margin-right:6vw;
    margin-top: 0.4vw;
    margin-bottom: 5vw;
  }
  .header_logo_m {
    display: none;
  }
  .header_logo_2_m {
    flex: 0 0 50vw;
    top: 1.9vw;
    z-index: 3;
    position: relative;
  }
  .header_logo_m img {
    max-width: 100%;
  }
  .header_logo_2_m img {
    max-width: 100%;
  }
  .header_burger_m {
    display: block;
    position: relative;
    width: 14vw;
    height: 6vw;
    z-index: 3;
  }
  .header_burger_m span {
    position: absolute;
    background-color: black;
    left: 0;
    width: 100%;
    height: 0.6vw;
    top: 2.6vw;
    transition: all 0.3s ease 0s;
  }
  .header_burger_m:before,
  .header_burger_m:after {
    content: '';
    background-color: black;
    position: absolute;
    width: 100%;
    height: 0.6vw;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header_burger_m:before {
    top:0;
  }
  .header_burger_m:after {
    bottom: 0;
  }
  .flex_menu_1_m {
    display: flex;
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
    flex-direction: column;
    text-align: left;
  }
  .upper_menu_m li {
    font-weight: 500;
    font-size: 11vw;
  }
  #marg {
    margin-bottom: 5vw;
  }
  .header_contact_m a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 2vw;
  }
  .lower_menu_m li {
    margin-bottom: 1vw;
  }
  .lower_m {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 5vw;
  }
  .flex_menu_2_m {
    display: flex;
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
    margin-top:4vw;
    text-align: left;
  }
  .flex_menu_3_m {
    display: flex;
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
    flex-direction: column;
    margin-top:4vw;
    text-align: left;
  }
  .header_contact_m {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    max-width: 87.393vw;
    text-align: center;
    left:0;
    right: 0;
    margin-left: 6vw;
    margin-top: 10vw;
    margin-bottom: 7vw;
  }
  .header_menu_m {
    display: block;
    position: fixed;
    top:-100%;
    left:0;
    overflow: auto;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease 0s;
    background-color: rgba(162, 42, 47, 1);
    padding: 15vw 0 0 0;
  }
  .header_menu_m.active {
    top:0;
  }
  .header_list_m {
    display: flex;
    position: relative;
    z-index: 2;
    max-width: 87.393vw;
    justify-content: space-between;
    flex-direction: column;
    left:0;
    right: 0;
    align-items: left;
    margin-left: 6vw;
    margin-right: 6vw;
    margin-top: 8vw;
  }
  .header_list_m li {
    list-style: none;
    }
  .header_link_m {
    text-decoration: none;
    color: white;
  }
  .header_link_m.lower {
    color: rgba(196, 196, 196, 1)
  }
  .header_m_menu.active {
    top:0;
  }
  .header_burger_m.active span {
    transform: scale(0);
  }
  .header_burger_m.active:before {
    transform: rotate(45deg);
    top: 2.7vw;
  }
  .header_burger_m.active:after {
    transform: rotate(-45deg);
    bottom: 2.7vw;
  }
  .footer_m {
    display: block;
    position: relative;
    top:0;
    margin-top: 3vw;
    margin-left:5.3vw;
    margin-right:5.3vw;
    height: 5vw;
  }
  .footer_container_m {
    position: relative;
    width: 100%;
    top:0;
    left:0;
    height: 5vw;
  }
  .footer_body_m {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-bottom: 3vw;
  }
  .footer_body_m a {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 2vw;
  }
  .icons_m {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 7.7vw;
    margin-right: 11vw;
    align-items: flex-end;
    height: 100%;
    margin-left: 7vw;
  }
  .circles_1 {
    display: none;
  }
  .icons_m img {
    width: 80%;
    height: 80%;
    padding-left: 2vw;
  }
  .slick-track {
    display: flex;
  }
  .slick-list {
    overflow: hidden;
    align-items: flex-start;
    height: 100%;
  }
  .slider_m .slick-dots {
    display: flex;
    align-items: center;
    justify-content: left;
    left: 0;
    margin-top:1vw;
  }
  .slider_m .slick-dots li {
    list-style: none;
    margin: 1vw 1vw;
    z-index: 2000;
  }
  .slider_m .slick-dots li.slick-active button {
    background-color: black;
  }
  .slider_m .slick-dots button {
    font-size: 0;
    width: 3vw;
    height: 3vw;
    border: 0.5vw solid black;
    border-radius:50%;
    background-color: transparent;
  }
  .slider_m {
    display: block;
    position: relative;
    padding: 0vw 8vw;
    z-index: -1;
  }
  .slider_m .slick-arrow {
    position: absolute;
    top:50%;
    z-index: 2;
    font-size: 0;
    width: 6vw;
    height: 6vw;
  }
  .slider_item_m {
    text-align: center;
    transition: all 0.5s ease-in-out 0s;
  }
  .slick-slide.slick-active {
    margin: 0 0;
  }
  .slick-track {
    display: flex;
    align-items: flex-start;
    margin-left: 0vw;
  }

  }
@media (max-width: 320px) {
  .first_slide, .second_slide, .third_slide, .fourth_slide, .fifth_slide, .sixth_slide, .seventh_slide, .eight_slide {
    display: none;
  }
  }
