@media (min-width: 1680px) {
  .mobile {
    display: none;
  }
  .header_body_m {
    display: none;
  }
  .header_menu_m {
    display: none;
  }
  .sticky_element_m {
    display: none;
  }
  .header_m {
    display: none;
  }
  .header_body_m {
    display: none;
  }
}
@media (max-width: 1680px) {
  .mobile {
    display: none;
  }
  .header_body_m {
    display: none;
  }
  .header_menu_m {
    display: none;
  }
  .sticky_element_m {
    display: none;
  }
  .header_m {
    display: none;
  }
  .header_body_m {
    display: none;
  }
@media (max-width: 1440px) {
  .mobile {
    display: none;
  }
  .sticky_element_m {
    display: none;
  }
  .header_m {
    display: none;
  }
  .header_body_m {
    display: none;
  }
  .header_menu_m {
    display: none;
  }
@media (max-width: 1366px) {
  .mobile {
    display: none;
  }
  .sticky_element_m {
    display: none;
  }
  .header_m {
    display: none;
  }
  .header_body_m {
    display: none;
  }
  .header_menu_m {
    display: none;
  }
@media (max-width: 1280px) {
  .mobile {
    display: none;
  }
  .sticky_element_m {
    display: none;
  }
  .header_m {
    display: none;
  }
  .header_body_m {
    display: none;
  }
  .header_menu_m {
    display: none;
  }
@media (max-width: 1024px) {
  .mobile {
    display: none;
  }
  .sticky_element_m {
    display: none;
  }
  .header_m {
    display: none;
  }
  .header_body_m {
    display: none;
  }
  .header_menu_m {
    display: none;
  }
@media (max-width: 768px) {
  .first_slide, .second_slide, .third_slide, .fourth_slide, .fifth_slide, .sixth_slide, .seventh_slide, .eight_slide {
    display: none;
  }
  .header {
    display: none;
  }
  .mobile {
    display: block;
    position: relative;
  }
  .header_m {
    display: block;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: 50;
  }
  .header_m:before {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: white;
  }
  .header_body_m {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 10.1vw;
    align-items: flex-end;
    margin-left:6vw;
    margin-right:6vw;
    margin-top: 0.4vw;
    margin-bottom: 5vw;
  }
  .header_logo_m {
    display: none;
  }
  .header_logo_2_m {
    flex: 0 0 50vw;
    top: 1.9vw;
    z-index: 3;
    position: relative;
  }
  .header_logo_m img {
    max-width: 100%;
  }
  .header_logo_2_m img {
    max-width: 100%;
  }
  .header_burger_m {
    display: block;
    position: relative;
    width: 14vw;
    height: 6vw;
    z-index: 3;
  }
  .header_burger_m span {
    position: absolute;
    background-color: black;
    left: 0;
    width: 100%;
    height: 0.6vw;
    top: 2.6vw;
    transition: all 0.3s ease 0s;
  }
  .header_burger_m:before,
  .header_burger_m:after {
    content: '';
    background-color: black;
    position: absolute;
    width: 100%;
    height: 0.6vw;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header_burger_m:before {
    top:0;
  }
  .header_burger_m:after {
    bottom: 0;
  }
  .flex_menu_1_m {
    display: flex;
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
    flex-direction: column;
    text-align: center;
  }
  .upper_menu_m li {
    font-weight: 500;
    font-size: 11vw;
  }
  #marg {
    margin-bottom: 5vw;
  }
  .header_contact_m a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 2vw;
  }
  .lower_menu_m li {
    margin-bottom: 1vw;
  }
  .lower_m {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 5vw;
  }
  .flex_menu_2_m {
    display: flex;
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
    margin-top:4vw;
    text-align: center;
  }
  .flex_menu_3_m {
    display: flex;
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
    flex-direction: column;
    margin-top:4vw;
    text-align: center;
  }
  .header_contact_m {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    max-width: 87.393vw;
    text-align: center;
    left:0;
    right: 0;
    margin-left: 6vw;
    margin-top: 10vw;
  }
  .header_menu_m {
    display: block;
    position: fixed;
    top:-100%;
    left:0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease 0s;
    background-color: rgba(162, 42, 47, 1);
    padding: 15vw 0 0 0;
  }
  .header_menu_m.active {
    top:0;
  }
  .header_list_m {
    display: flex;
    position: relative;
    z-index: 2;
    max-width: 87.393vw;
    justify-content: space-between;
    flex-direction: column;
    left:0;
    right: 0;
    align-items: center;
    margin-left: 6vw;
    margin-right: 6vw;
    margin-top: 8vw;
  }
  .header_list_m li {
    list-style: none;
    }
  .header_link_m {
    text-decoration: none;
    color: white;
  }
  .header_link_m.lower {
    color: rgba(196, 196, 196, 1)
  }
  .header_m_menu.active {
    top:0;
  }
  .header_burger_m.active span {
    transform: scale(0);
  }
  .header_burger_m.active:before {
    transform: rotate(45deg);
    top: 2.7vw;
  }
  .header_burger_m.active:after {
    transform: rotate(-45deg);
    bottom: 2.7vw;
  }
  .btn-2 {
    box-shadow: inset 0 0 rgba(8, 157, 148, 1);
    transition: all 0.3s ease-out;
  }
  .btn-2:hover {
    box-shadow: inset 13em 0 rgba(162, 42, 47, 1);
    cursor: pointer;
    color: white;
  }
  .first_slide_m {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    top:10vw;
    /* height: 49.048vw; */
    left:0;
    padding-top: 2vw;
  }
  .fish_dish_m {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    top: 0vw;
    right: 0vw;
    margin-top: 17vw;
    margin-bottom: 3vw;
  }
  .baton_m {
    display: block;
    position: relative;
    top:0vw;
    z-index: 49;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 0.3s ease-out;
  }
  .baton_m button {
    width: 48vw;
    height: 7.5vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: rgba(162, 42, 47, 1);
    background-color: white;
    font-size: 3.8vw;
    border: 0.7vw solid rgba(162, 42, 47, 1);
    max-width: 100%;
    white-space: nowrap;
    transition: all 0.3s ease-out;
  }
  .second_slide_m {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 100%;
    top: 0vw;
    left:0;
  }
  .data_1_m {
    position: relative;
    display: block;
    margin: 2vw 13vw;
    text-align: center;
  }
  .first_comp_flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 2vw 0;
  }
  .first_comp_m {
    display: block;
    position: relative;
    top:0vw;
  }
  .time_lines_m {
    display: block;
    position: relative;
    top:3vw;
    left:0;
    z-index: -1;
  }
  .time_circle {
    display: block;
    position: relative;
    border: solid 1vw;
    width: 6.571vw;
    height: 6.571vw;
    border-radius: 50%;
    left: 41vw;
    top: 0;
  }
  .time_line {
    display: block;
    position: relative;
    width: 0.776vw;
    height: 61.619vw;
    left: 43.8vw;
    top: 0;
    background-color:black;
  }
  .red_rect_1_m {
    display: block;
    position: relative;
    width: 70%;
    height: 70%;
    top:-81vw;
    left: 12vw;
  }
  .blue_rect_1_m {
    display: block;
    position: relative;
    width: 70%;
    height: 70%;
    top:-136vw;
    left: 14vw;
  }
  .photo_circus_m {
    display: block;
    position: relative;
    width: 65%;
    height: 65%;
    top:-185vw;
    left:16vw;
  }
  .first_text_m {
    width: 56.976vw;
    height: 16.488vw;
    margin-top: -171vw;
    margin-left: 16vw;
  }
  .first_text_m p {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.429vw;
    font-weight: normal;
    vertical-align: top;
    text-align: left;
    line-height: auto;
    line-height: 1.1;
  }
  .wavy_m {
    position: absolute;
    display: block;
    width: 10%;
    height: 10%;
    top:76vw;
    left:0;
  }
  .circles_1_m {
    position: absolute;
    display: block;
    width: 35%;
    height: 22%;
    top:76vw;
    left:57vw;
  }
  .third_slide_m {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 100%;
    top:0;
    left:0;
  }
  .data_2_m {
    position: relative;
    display: block;
    margin: 2vw 13vw;
    text-align: center;
  }
  .second_comp_flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 2vw 0;
  }
  .second_comp_m {
    display: block;
    position: relative;
    top:0vw;
  }
  .rect_2 {
    position: relative;
    display: block;
    width: 75%;
    height: 75%;
    top:-81vw;
    left: 11vw;
  }
  .photo_owner_m {
    display: block;
    position: relative;
    width: 75%;
    height: 75%;
    top:-141vw;
    left:15vw;
  }
  .dot_pattern_1_m {
    position: absolute;
    display: block;
    width: 7%;
    height: 16%;
    top:63vw;
    left:78vw;
  }
  .second_text_m {
    width: 56.976vw;
    height: 16.488vw;
    margin-top: -154vw;
    margin-left: 16vw;
  }
  .second_text_m p {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.429vw;
    font-weight: normal;
    vertical-align: top;
    text-align: left;
    line-height: auto;
    line-height: 1.1;
  }
  .circles_2_m {
    position: absolute;
    display: block;
    width: 18%;
    height: 22%;
    top:113vw;
    left:-19vw;
  }
@media (max-width: 320px) {
  .first_slide, .second_slide, .third_slide, .fourth_slide, .fifth_slide, .sixth_slide, .seventh_slide, .eight_slide {
    display: none;
  }
  }
